.panel-heading {
  i {
    float: right;
  }
}

.accordion {
  .card-header {
    i.togglestate {

      display: inline-block;

      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(0deg);

    }
  }
}
.accordion {
  .card-header {
    a.collapsed {
      i.togglestate {

        display: inline-block;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);

      }
    }
  }
}
