---
title: Blog
layout: default
group: navigation
featured-image: assets/images/medium-images/stock-1.jpeg
images:
  - src: assets/images/medium-images/stock-4.jpeg
    title: Hello
  - src: assets/images/medium-images/stock-5.jpeg
    title: Hello
---
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="blog-intro">
        <h1>Blog</h1>
        Blog Intro!!!
      </div>

      {% for post in paginator.posts %}
      <div class="row blog-teasers">
        <div class="col-md-4">
          <a href="{{  }}{{ post.url }}">
            {% if nil != post.featured-image %}
            <img src="{{  }}/{{ post.featured-image }}" class="img-fluid" title="{{ post.title }}">
            {% else %}
            <img src="{{  }}/{{ page.featured-image }}" class="img-fluid" title="{{ post.title }}">
            {% endif %}
          </a>
        </div>
        <div class="col-md-8">
          <div class="teaser">
            <a href="{{  }}{{ post.url }}">
              <h2>{{ post.title }}</h2>
            </a>
            {% if nil != post.category %}
            <div class="small">
              <span class="category"><i class="icon tags"></i>&nbsp;{{ post.categories | category_links }}</span>
            </div>
            {% endif %}
          </div>
          {{ post.excerpt | truncatewords: 35 }}
          <br><a href="{{  }}{{ post.url }}" class="readmore btn btn-default btn-md">Read More&nbsp;&raquo;</a>
        </div>
      </div>


      {% endfor %}
      <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
      <div class="pagination">
        <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span><br />
        {% if paginator.previous_page %}
        <a href="{{  }}{{ paginator.previous_page_path }}" class="btn btn-default btn-md previous">&laquo;&nbsp;Previous</a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{  }}{{ paginator.next_page_path }}" class="btn btn-default btn-md next">Next&nbsp;&raquo;</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="col-md-4 offset-md-1">
      <div class="sidebar">
        {% include partial/sidebar.html %}
      </div>
    </div>
  </div>
</div>
