<span class="hidden-xs-down">
  <a href="mailto:{{ site.data.contact[0].email }}" title="Click to Email us - opens your default email programme.">
    <i class="icon email"></i>&nbsp;{{ site.data.contact[0].email-text }}
  </a>
</span>
<span class="hidden-sm-up">
  <a href="mailto:{{ site.data.contact[0].email }}" class="btn btn-default btn-block ghost" title="Click to Email us - opens your default email programme.">
    <i class="icon email"></i>&nbsp;{{ site.data.contact[0].email-text }}
  </a>
</span>
