<ul class="contact-list list-unstyled">
  <li>
    <a href="{{ site.data.social.facebook }}" title="Like us on Facebook">
      <i class="fa fa-facebook"></i>&nbsp&nbspLike us on Facebook
    </a>
  </li>
  <li>
    <a href="{{ site.data.social.youtube }}" title="Visit our YouTube channel">
      <i class="fa fa-youtube"></i>&nbsp&nbspVisit our YouTube channel
    </a>
  </li>
  <li>
    <a href="{{ site.data.social.instagram }}" title="Follow us on Instagram">
      <i class="fa fa-instagram"></i>&nbsp&nbspFollow us on Instagram
    </a>
  </li>
</ul>
