{% include partial/style-rules.html %}
<section id="{% if section.unique-class != nil %}{{ section.unique-class }}{% else %}{{ section.title | slugify }}{% endif %}" class="content-section {% if 'light' == section.text-colour %} light-text{% endif %}"{{ bg-style }}>
  <div class="container">
    <h2 class="background-line services-heading"><span>Trips</span></h2>
    <div class="row services">
      {% for post in site.posts limit: 3 %}
      <div class="col-md-4">
        <div class="card">
          <a href="/{{ post.url }}" class="img-card-top image-link" title="{{ page.title }}">
            <img src="/{{ post.featured-image }}" data-src="/{{ post.featured-image }}" height="512" width="768" class="img-fluid" alt="{{ page.title }}" title="{{ page.title }}">
          </a>
          <div class="card-block">
            <div class="card-title">
              <h3>{{ post.title }}</h3>
            </div>
            <div class="card-text">
              {% if post.custom-excerpt != nil %}{{ post.custom-excerpt }}{% else %}{{ post.excerpt | truncatewords: 18 }}{% endif %}
              <br><a class="btn btn-default btn-md ghost services-button" href="/{{ post.url }}">More Info&nbsp;&raquo;</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
