$icomoon-font-path: "../assets/fonts" !default;

$icon-home3: "\e902";
$icon-pencil: "\e905";
$icon-play: "\e912";
$icon-price-tag: "\e935";
$icon-phone: "\e942";
$icon-phone-hang-up: "\e943";
$icon-pushpin: "\e946";
$icon-location: "\e947";
$icon-clock: "\e94e";
$icon-mobile: "\e958";
$icon-user: "\e971";
$icon-checkmark: "\ea10";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-stop2: "\ea1e";
$icon-backward2: "\ea1f";
$icon-forward3: "\ea20";
$icon-arrow-up: "\ea32";
$icon-arrow-down: "\ea36";
$icon-circle-up: "\ea41";
$icon-circle-down: "\ea43";
$icon-checkbox-checked: "\ea52";
$icon-paragraph-center: "\ea78";
$icon-mail4: "\ea86";
$icon-google: "\ea88";
$icon-google-plus3: "\ea8d";
$icon-facebook2: "\ea91";
$icon-whatsapp: "\ea93";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
